<div>
  <img src="imageUrl" />
  <br />
  <button
    mat-raised-button
    color="primary"
    [routerLink]="['/profile-edit', profile.id]"
    *ngIf="userExists"
  >
    Edit
  </button>
</div>

<div class="card-section" *ngIf="!userExists">
  <h3><b>Welcome Onboard!</b></h3>
  <p>The web API will now query Microsoft Graph to find your profile.</p>
  <p>After that, you may see and update your profile information.</p>
  <button mat-raised-button color="primary" (click)="submitProfile(profile)">
    Accept
  </button>
</div>